@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	border: none;
	font-family: 'Raleway', sans-serif;
	outline: none;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}

.gif-search-app {
	position: relative;
	left: 50%;
	padding-top: 60px;
	transform: translateX(-50%);
	width: 60%;
}

.gif-search-app hr {
	border: 1px solid grey;
}

.gif-search-app ol {
	padding: 0 15px;
}

input {
	border: 1px solid grey;
	border-radius: 5px;
	color: grey;
	font-size: 1.2rem;
	padding: 5px;
	width: 100%;
}

.card-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-item {
	align-content: center;
	border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
	overflow: hidden;
}

.card-item p {
	padding: 5px;
	text-align: center;
}

.card-item img {
	max-width: 170px;
}
